sympy
numpy
scipy
matplotlib
pandas
scikit-learn
plotly
bokeh
networkx
numba
mpmath
pymc
statsmodels
seaborn
ipympl
ipywidgets
jupyterlab-git
xarray
pyarrow
polars
tqdm
rich
jupyter-server-proxy
jupyter-kernel-gateway
